<div class="container">
  
  <div class="parallax section-bg section-bg--user"></div>

  <p class="title">About me</p>

  <div class="divider"></div>

  <p class="subtitle">I am a highly motivated <b>Software Engineer</b> and
  <b>Scrum Master</b> with 10 years IT experience, very experienced in design and development
  of Java software solutions (front and back-end)</p>

  <h4>Development</h4>
  <ul class="list-unstyled item-list item-list-inline">
    <li>HTML5 <i class="icon icon-html5"></i></li>
    <li>CSS3 <i class="icon icon-css3"></i></li>
    <li>SASS <i class="icon icon-sass"></i></li>
    <li>LESS <i class="icon icon-less"></i></li>
    <li>JavaScript <i class="icon icon-js"></i></li>
    <li>AngularJS <i class="icon icon-ng"></i></li>
    <li>jQuery <i class="icon icon-jquery"></i></li>
    <li>Webpack <i class="icon icon-webpack"></i></li>
    <li>NodeJS <i class="icon icon-nodejs"></i></li>
    <li>Bower <i class="icon icon-bower"></i></li>
    <li>NPM <i class="icon icon-npm"></i></li>
    <li>Gulp <i class="icon icon-gulp"></i></li>
    <li>Grunt <i class="icon icon-grunt"></i></li>
    <li>Git <i class="icon icon-git"></i></li>
    <li>Wordpress <i class="icon icon-wordpress"></i></li>
    <li>PHP <i class="icon icon-php"></i></li>
    <li>Mysql <i class="icon icon-mysql"></i></li>
    <li>Performance <i class="icon icon-performance"></i></li>
  </ul>

  <h4>Patterns and Techniques</h4>
  <ul class="list-unstyled item-list">
    <li>Object Oriented Programming</li>
    <li>MVC</li>
  </ul>

  <h4>Design</h4>
  <ul class="list-unstyled item-list item-list-inline">
    <li>Photoshop CC <i class="icon icon-photoshop"></i></li>
    <li>Illustrator CC <i class="icon icon-illustrator"></i></li>
  </ul>
</div>
